USE [master]
GO
/****** Object:  Database [MenaxhimiIOrarit]    Script Date: 12/16/2020 4:52:35 PM ******/
CREATE DATABASE [MenaxhimiIOrarit]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MenaxhimiIOrarit', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\MenaxhimiIOrarit.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'MenaxhimiIOrarit_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\MenaxhimiIOrarit_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MenaxhimiIOrarit].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MenaxhimiIOrarit]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 12/16/2020 4:52:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 12/16/2020 4:52:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 12/16/2020 4:52:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 12/16/2020 4:52:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 12/16/2020 4:52:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 12/16/2020 4:52:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GRUPI]    Script Date: 12/16/2020 4:52:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GRUPI](
	[GrupiID] [int] IDENTITY(1,1) NOT NULL,
	[EmriGrupit] [int] NULL,
	[VitiAkademik] [int] NULL,
	[CreatedOn] [datetime] NULL,
	[LastUpdate] [datetime] NULL,
	[IsDeleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[GrupiID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LENDA]    Script Date: 12/16/2020 4:52:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LENDA](
	[LendaID] [int] IDENTITY(1,1) NOT NULL,
	[Emertimi] [nvarchar](50) NULL,
	[Libri] [nvarchar](50) NULL,
	[CreatedOn] [datetime] NULL,
	[LastUpdate] [datetime] NULL,
	[IsDeleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[LendaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PROFESORAT]    Script Date: 12/16/2020 4:52:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROFESORAT](
	[ProfesoratID] [int] IDENTITY(1,1) NOT NULL,
	[Emri] [nvarchar](50) NULL,
	[Mbiemri] [nvarchar](50) NULL,
	[Mail] [nvarchar](50) NULL,
	[CreatedOn] [datetime] NULL,
	[LastUpdate] [datetime] NULL,
	[IsDeleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProfesoratID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Rezervimet]    Script Date: 12/16/2020 4:52:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rezervimet](
	[RezervimetID] [int] IDENTITY(1,1) NOT NULL,
	[GrupiID] [int] NULL,
	[ProfesoriID] [int] NULL,
	[SallaID] [int] NULL,
	[LendaID] [int] NULL,
	[Fillimi] [datetime] NULL,
	[Mbarimi] [datetime] NULL,
	[Statusi] [int] NULL,
	[CreatedOn] [datetime] NULL,
	[LastUpdate] [datetime] NULL,
	[IsDeleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[RezervimetID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SALLAT]    Script Date: 12/16/2020 4:52:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SALLAT](
	[SallaID] [int] IDENTITY(1,1) NOT NULL,
	[NumriSalles] [int] NULL,
	[Tipi] [char](1) NULL,
	[CreatedOn] [datetime] NULL,
	[LastUpdate] [datetime] NULL,
	[IsDeleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[SallaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'1', N'admin')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'3', N'prof')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'2', N'student')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'c4d848a3-224b-4540-a209-bd5c195448e2', N'1')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'2f0b721d-9c1d-4d2d-aafa-8b56b45c68c5', N'arta.bislimi@riinvest.net', 0, N'AEo+lEU7wYSfecxx61hdD5VukuKxEmpQgXKLglt3ep2s6XZiACXAyOXXU06aW9u5BQ==', N'0e0208bf-dd2e-4dc3-a702-ec6544498e90', NULL, 0, 0, NULL, 1, 0, N'arta.bislimi@riinvest.net')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'c4d848a3-224b-4540-a209-bd5c195448e2', N'admin@riinvest.net', 0, N'AL+CyKc66Pq7Pc7n9UBT9S2MS7vVgj6imbYIczrR76vD36p4Jn5bUdfQlaSUE7QBTg==', N'd151212c-9d4f-41bd-81b8-06f9fb257bf7', NULL, 0, 0, NULL, 1, 0, N'admin@riinvest.net')
SET IDENTITY_INSERT [dbo].[GRUPI] ON 

INSERT [dbo].[GRUPI] ([GrupiID], [EmriGrupit], [VitiAkademik], [CreatedOn], [LastUpdate], [IsDeleted]) VALUES (1, 2, 2020, CAST(N'2020-12-01 16:05:59.747' AS DateTime), NULL, 1)
INSERT [dbo].[GRUPI] ([GrupiID], [EmriGrupit], [VitiAkademik], [CreatedOn], [LastUpdate], [IsDeleted]) VALUES (2, 1, 2020, CAST(N'2020-12-01 16:06:12.713' AS DateTime), NULL, 0)
SET IDENTITY_INSERT [dbo].[GRUPI] OFF
SET IDENTITY_INSERT [dbo].[LENDA] ON 

INSERT [dbo].[LENDA] ([LendaID], [Emertimi], [Libri], [CreatedOn], [LastUpdate], [IsDeleted]) VALUES (2, N'Projekti TI 2', N'"Windows Forms"', CAST(N'2020-12-02 11:27:55.170' AS DateTime), NULL, 0)
INSERT [dbo].[LENDA] ([LendaID], [Emertimi], [Libri], [CreatedOn], [LastUpdate], [IsDeleted]) VALUES (3, N'Projekti TI 2', N'"ASP.Net MVC"', CAST(N'2020-12-02 11:33:02.437' AS DateTime), NULL, 0)
INSERT [dbo].[LENDA] ([LendaID], [Emertimi], [Libri], [CreatedOn], [LastUpdate], [IsDeleted]) VALUES (4, N'TI 2', N'asp.net mvc .net core', CAST(N'2020-12-16 10:19:33.547' AS DateTime), NULL, 0)
SET IDENTITY_INSERT [dbo].[LENDA] OFF
SET IDENTITY_INSERT [dbo].[PROFESORAT] ON 

INSERT [dbo].[PROFESORAT] ([ProfesoratID], [Emri], [Mbiemri], [Mail], [CreatedOn], [LastUpdate], [IsDeleted]) VALUES (1, N'Astrit', N'Desku', N'astrit.desku@riinvest.net', CAST(N'2020-12-02 14:48:48.830' AS DateTime), NULL, 0)
INSERT [dbo].[PROFESORAT] ([ProfesoratID], [Emri], [Mbiemri], [Mail], [CreatedOn], [LastUpdate], [IsDeleted]) VALUES (1003, N'Naim', N'Hoxha', N'naim.hoxha@riinvest.net', CAST(N'2020-12-15 15:27:07.143' AS DateTime), NULL, 0)
INSERT [dbo].[PROFESORAT] ([ProfesoratID], [Emri], [Mbiemri], [Mail], [CreatedOn], [LastUpdate], [IsDeleted]) VALUES (1005, N'Arben', N'Ahmeti', N'arben.ahmeti@riinvest.net', CAST(N'2020-12-16 09:56:56.623' AS DateTime), NULL, 0)
SET IDENTITY_INSERT [dbo].[PROFESORAT] OFF
SET IDENTITY_INSERT [dbo].[SALLAT] ON 

INSERT [dbo].[SALLAT] ([SallaID], [NumriSalles], [Tipi], [CreatedOn], [LastUpdate], [IsDeleted]) VALUES (1, 201, N'L', CAST(N'2020-12-02 11:12:15.830' AS DateTime), NULL, 0)
INSERT [dbo].[SALLAT] ([SallaID], [NumriSalles], [Tipi], [CreatedOn], [LastUpdate], [IsDeleted]) VALUES (2, 202, N'S', CAST(N'2020-12-02 11:13:07.613' AS DateTime), NULL, 0)
SET IDENTITY_INSERT [dbo].[SALLAT] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [RoleNameIndex]    Script Date: 12/16/2020 4:52:36 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 12/16/2020 4:52:36 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 12/16/2020 4:52:36 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_RoleId]    Script Date: 12/16/2020 4:52:36 PM ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 12/16/2020 4:52:36 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserRoles]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UserNameIndex]    Script Date: 12/16/2020 4:52:36 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Rezervimet]  WITH CHECK ADD FOREIGN KEY([GrupiID])
REFERENCES [dbo].[GRUPI] ([GrupiID])
GO
ALTER TABLE [dbo].[Rezervimet]  WITH CHECK ADD FOREIGN KEY([LendaID])
REFERENCES [dbo].[LENDA] ([LendaID])
GO
ALTER TABLE [dbo].[Rezervimet]  WITH CHECK ADD FOREIGN KEY([ProfesoriID])
REFERENCES [dbo].[PROFESORAT] ([ProfesoratID])
GO
ALTER TABLE [dbo].[Rezervimet]  WITH CHECK ADD FOREIGN KEY([SallaID])
REFERENCES [dbo].[SALLAT] ([SallaID])
GO
/****** Object:  StoredProcedure [dbo].[usp_Grupi_Add]    Script Date: 12/16/2020 4:52:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[usp_Grupi_Add](
@EmriGrupit int,
@VitiAkademik int,
@CreatedOn datetime
)
as
begin
insert GRUPI(EmriGrupit,VitiAkademik,CreatedOn,IsDeleted)
values(@EmriGrupit,@VitiAkademik,@CreatedOn,0)
end


GO
/****** Object:  StoredProcedure [dbo].[usp_Grupi_Delete]    Script Date: 12/16/2020 4:52:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[usp_Grupi_Delete](
@GrupiId int
)
as 
Begin 
DELETE
From GRUPI
where GrupiID=@GrupiId
end


GO
/****** Object:  StoredProcedure [dbo].[usp_Grupi_Edit]    Script Date: 12/16/2020 4:52:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create proc [dbo].[usp_Grupi_Edit](
@GrupiId int,
@EmriGrupit int,
@VitiAkademik int,
@LastUpdate datetime
)
as
begin
update GRUPI
set
	EmriGrupit=@EmriGrupit,
	VitiAkademik=@VitiAkademik,
	LastUpdate=@LastUpdate
  where GrupiID=@GrupiId
end


GO
/****** Object:  StoredProcedure [dbo].[usp_Grupi_List]    Script Date: 12/16/2020 4:52:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create proc [dbo].[usp_Grupi_List]
as
begin
select * from GRUPI
end


GO
/****** Object:  StoredProcedure [dbo].[usp_Grupi_Read]    Script Date: 12/16/2020 4:52:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create proc [dbo].[usp_Grupi_Read](
@GrupiId int
)
as 
begin
  select * from GRUPI
  where IsDeleted=0
end 


GO
/****** Object:  StoredProcedure [dbo].[usp_Lenda_Add]    Script Date: 12/16/2020 4:52:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[usp_Lenda_Add](
@Emertimi nvarchar(50),
@Libri nvarchar(50),
@CreatedOn datetime
)
as
begin
insert LENDA(Emertimi,Libri,CreatedOn,IsDeleted)
values(@Emertimi,@Libri,@CreatedOn,0)
end


GO
/****** Object:  StoredProcedure [dbo].[usp_Lenda_Delete]    Script Date: 12/16/2020 4:52:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[usp_Lenda_Delete](
@LendaId int
)
as 
Begin 
DELETE
From LENDA
where LendaID=@LendaId
end


GO
/****** Object:  StoredProcedure [dbo].[usp_Lenda_Edit]    Script Date: 12/16/2020 4:52:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[usp_Lenda_Edit]
@LendaID int,
@Emertimi nvarchar(50),
@Libri nvarchar(50)
as
begin
update LENDA
set
	Emertimi=@Emertimi,
	Libri=@Libri
  where LendaID=@LendaID
end


GO
/****** Object:  StoredProcedure [dbo].[usp_Lenda_List]    Script Date: 12/16/2020 4:52:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create proc [dbo].[usp_Lenda_List]
as
begin
select * from LENDA
end


GO
/****** Object:  StoredProcedure [dbo].[usp_Lenda_Read]    Script Date: 12/16/2020 4:52:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[usp_Lenda_Read](
@LendaID int
)
as 
begin
  select * from LENDA
  where LendaID=@LendaID
end 

GO
/****** Object:  StoredProcedure [dbo].[usp_Profesorat_Add]    Script Date: 12/16/2020 4:52:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[usp_Profesorat_Add](
@Emri nvarchar(50),
@Mbiemri nvarchar(50),
@Mail nvarchar(50),
@CreatedOn datetime
)
as
begin
insert PROFESORAT(Emri,Mbiemri,Mail,CreatedOn,IsDeleted)
values(@Emri,@Mbiemri,@Mail,@CreatedOn,0)
end


GO
/****** Object:  StoredProcedure [dbo].[usp_Profesorat_Delete]    Script Date: 12/16/2020 4:52:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[usp_Profesorat_Delete](
@ProfesoratID int
)
as 
Begin 
DELETE
From PROFESORAT
where ProfesoratID=@ProfesoratID
end


GO
/****** Object:  StoredProcedure [dbo].[usp_Profesorat_Edit]    Script Date: 12/16/2020 4:52:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create proc [dbo].[usp_Profesorat_Edit](
@ProfesoratID int,
@Emri nvarchar(50),
@Mbiemri nvarchar(50),
@Mail nvarchar(50),
@LastUpdate datetime
)
as
begin
update PROFESORAT
set
	Emri=@Emri,
	Mbiemri=@Mbiemri,
	Mail=@Mail,
	LastUpdate=@LastUpdate
  where ProfesoratID=@ProfesoratID
end


GO
/****** Object:  StoredProcedure [dbo].[usp_Profesorat_List]    Script Date: 12/16/2020 4:52:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create proc [dbo].[usp_Profesorat_List]
as
begin
select * from PROFESORAT
end


GO
/****** Object:  StoredProcedure [dbo].[usp_Profesorat_Read]    Script Date: 12/16/2020 4:52:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[usp_Profesorat_Read](
@ProfesoratID int
)
as 
begin
  select * from PROFESORAT
  where ProfesoratID = @ProfesoratID
end 


GO
/****** Object:  StoredProcedure [dbo].[usp_Sallat_Add]    Script Date: 12/16/2020 4:52:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[usp_Sallat_Add](
@NumriSalles int,
@Tipi char(1),
@CreatedOn datetime
)
as
begin
insert SALLAT(NumriSalles,Tipi,CreatedOn,IsDeleted)
values(@NumriSalles,@Tipi,@CreatedOn,0)
end


GO
/****** Object:  StoredProcedure [dbo].[usp_Sallat_Delete]    Script Date: 12/16/2020 4:52:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[usp_Sallat_Delete](
@SallatID int
)
as
begin
  DELETE 
  FROM SALLAT
	where SallaID=@SallatID
end


GO
/****** Object:  StoredProcedure [dbo].[usp_Sallat_Edit]    Script Date: 12/16/2020 4:52:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create proc [dbo].[usp_Sallat_Edit](
@SallaID int,
@NumriSalles int,
@Tipi char(1),
@LastUpdate datetime
)
as
begin
update SALLAT
set
	NumriSalles=@NumriSalles,
	Tipi=@Tipi,
	LastUpdate=@LastUpdate
  where SallaID=@SallaID
end


GO
/****** Object:  StoredProcedure [dbo].[usp_Sallat_List]    Script Date: 12/16/2020 4:52:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create proc [dbo].[usp_Sallat_List]
as
begin
select * from SALLAT
end


GO
/****** Object:  StoredProcedure [dbo].[usp_Sallat_Read]    Script Date: 12/16/2020 4:52:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create proc [dbo].[usp_Sallat_Read](
@GrupiId int
)
as 
begin
  select * from SALLAT
  where IsDeleted=0
end 


GO
USE [master]
GO
